/* Google Fonts - start */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap"); /* titulos */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"); /* subtitulos y demas */
/* Google Fonts - end */

/************** Custom Properties ***************/
:root{
  --white: #FFFFFF;
  --black: #000000;
  --accent: #EF3B3A;
  
  --form-width: 300px;
  
  --font-title: 'Lora';
  --font-others: 'Nunito';
}
/************** Custom Properties ***************/

body{
  font-family: var(--font-others); /* Font del resto */
}

body > h1{
  font-family: var(--font-title); /* Font del Titulo */
}

/* Infor */
.info{
  text-align: center;
  padding: 50px 0px;
}

/* Form */
.form{
  position: relative;
  z-index: 1;
  background: var(--white);
  max-width: var(--form-width);
  margin: 0 auto 100px;
  padding: 30px;
  
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
}

.thumbnail{
  background: var(--accent);
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  
  border-radius: 50%;
  box-sizing: border-box;
}

.thumbail > img{
  display: block;
  width: 100%;
}

input{
  outline: 0;
  background: linen;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  
  border-radius: 3px;
  box-sizing: border-box;
  
  font-size: 14px;
}

button{
  outline: 0;
  background: var(--accent);
  width: 100%;
  border: 0;
  padding: 15px;
  
  border-radius: 3px;
  
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.message{
  margin: 15px 0 0;
  font-size: 12px;
}

.message > a{
  color: var(--accent);
  text-decoration: none;
}

.register-form{
  display: none;
}

.container{
  position: relative;
  z-index: 1;
  max-width: var(--form-width);
  margin: 0 auto;
}